# This is a basic workflow to help you get started with Actions

name: Deploy EventGrid Subscription to Function App in prod environment
  
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths: 
      - 'bicep/*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: 
        name: prod

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Log into Azure
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy Bicep file
      - name: deploy
        uses: azure/arm-deploy@v1
        with:
            subscriptionId: ${{ vars.SUBSCRIPTIONID}}
            resourceGroupName: ${{ vars.RESOURCEGROUP }}
            template: ./bicep/eventgridtrigger.bicep
            parameters: "configurationStoreName=${{vars.CONFIGURATIONSTORENAME}} functionAppName=${{vars.FUNCTIONAPPNAME}} functionName=${{vars.FUNCTIONNAME}} location=${{vars.LOCATION}}"            failOnStdErr: false
